# API base
NEXT_PUBLIC_API_URL=http://localhost:1001/api/admin

# Next.js app
NEXTAUTH_URL=http://localhost:1002

# NextAuth secret
NEXTAUTH_SECRET=super-secret-random-key

# Date Format
DATE_FORMAT="DD-MM-YYYY HH:mm:ss"
